form {
    background-color: #fde910;
    border-radius: 15px;
    padding: 30px;
    font-size: 2rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form_username {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label_form {
    display: block;
    text-align: center;
}

/* Базовий reset для елемента input */
input {
    border: none;
    padding: initial;
    margin: 0;
    font: initial;
    color: initial;
    background-color: initial;
    appearance: none;
    outline: none;
} 

.input_form, button {
    padding: 8px 14px;
    background-color: #ffff00;
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-size: 2rem;
}

.input_form {
    align-self: center;
    font-size: 2rem; 
}

.username_hint {
    color: red;
    text-align: center;
    font-size: 1.4rem; 
}

button {
    font-weight: bolder;
    font-size: 1.7rem;
}

@media screen and (max-width: 800px) {
    form {
        padding: 20px;
        width: 250px;
        display: flex;
        gap: 10px;
    }
    .form_username {
        gap: 5px;
    }
    .input_form, button {
        padding: 6px 12px;
        border: 1px solid black;
        height: 35px;
    }
    button {
        font-weight: bolder;
        font-size: 1.7rem;
    }
    button:hover {
        border: 1px solid;
    }
}

@media screen and (max-width: 420px) {
    form {
        padding: 15px;
        width: 220px;
        display: flex;
        gap: 8px;
    }
    .form_username {
        gap: 8px;
    }
    .input_form, button {
        padding: 4px 10px;
        border: 1px solid black;
        height: 30px;
    }
    button {
        font-weight: bolder;
        font-size: 1.6rem;
    }
    button:hover {
        border: 1px solid;
    }
}